.footer__content {
  display: flex;
  gap: 20px;
  justify-content: center;
  font-family: Montserrat;
  color: #8b7f6f;
}

.footer__content h4 {
  font-weight: 500;
}

.footer {
  margin-top: 20px;
}

.header__nav-telegramm {
  padding-top: 15px;
  width: 30px;
}
